<!-- templates/fragments/navbar.html -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Student Info System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <!-- ADMIN (ROLE_0) -->
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_0')">
          <a class="nav-link" href="/admin/users">Kullanıcılar</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_0')">
          <a class="nav-link" href="/admin/users/add">Kullanıcı Ekle</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_0')">
          <a class="nav-link" href="/admin/courses">Dersler</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_0')">
          <a class="nav-link" href="/admin/courses/add">Ders Ekle</a>
        </li>

        <!-- TEACHER (ROLE_1) -->
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_1')">
          <a class="nav-link" href="/teacher/courses">Derslerim</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_1')">
          <a class="nav-link" href="/teacher/courses/add">Ders Ekle</a>
        </li>

        <!-- STUDENT (ROLE_2) -->
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_2')">
          <a class="nav-link" href="/student/courses">Alınabilecek Dersler</a>
        </li>
        <li class="nav-item" sec:authorize="hasAuthority('ROLE_2')">
          <a class="nav-link" href="/student/my-courses">Derslerim</a>
        </li>

        <!-- LOGOUT -->
        <li class="nav-item">
          <form action="/logout" method="post" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm ms-3">Çıkış Yap</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>
